.jumbotron {
}
.text-center {
}
.display-4 {
}
.display-5 {
}
.lead {
}
.input-box {
}
.buttons {
}
.button {
  box-shadow: 0px 0px 9px -1px #3dc21b;
  background: linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
  background-color: #44c767;
  border-radius: 28px;
  border: 1px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 16px;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
}
.button:hover {
  background: linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
  background-color: #5cbf2a;
}
.button:active {
  position: relative;
  top: 5px;
}
